icomoon-font-path ?= "../../common/fonts"

icon-eye_off = "\e900"
icon-eye = "\e901"
icon-lock = "\e902"
icon-user = "\e903"

$color-blue = #409EFF
$color-success = #67C23A
$color-warning = #F56C6C
$color-info = #909399

$color-text-l = #303133
$color-text = #606266
$color-text-s = #909399
$color-text-ss = #C0C4CC

$color-border-l = #DCDFE6
$color-border = #E4E7ED
$color-border-s = #EBEEF5
$color-border-ss = #F2F6FC

$font-size-el = 20px
$font-size-l = 18px
$font-size-m = 16px
$font-size-s = 14px
$font-size-es = 13px
$font-size-ees = 12px
